@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles */
button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

/* Font control */
.display {
	font-family: FixelDisplay, sans-serif;
}

.text {
	font-family: FixelText, sans-serif;
}

/* Extra styles */
.btn {
	@apply rounded-md bg-gray-800 p-4 font-bold text-gray-50;
}

.btn-wide {
	@apply rounded-md bg-gray-800 p-3 px-8 text-gray-50;
}
